.loginSection {
    background: linear-gradient(blue, aqua);
    height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        background: linear-gradient(aqua,blue);
        padding: 10vh;
        height: 50vh;
        border-radius: 80px;
        .form-control {
            width: 50%;
        }
    }
}