.register {
    background: linear-gradient(aqua,blue);
    // width: 100%;
    // height: 100vh;

    .secondGrid {
        background-color: rgba(0, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        z-index: 1000;
        display: flex;
        justify-content: center;
        // align-items: center;

        form {
            z-index: 1001;
           background-color: rgba(0, 255, 255, 0.8);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
            max-width: 400px;
            width: 90%;
        }

        .form-control {
            width: 70%;
            height: 9vh;
            padding-top: 2px;
            padding-bottom: 10px;
        }
    }
}